<div class="min-w-full p-5 min-h-[50vh] max-h-screen space-y-5 border border-default rounded-md relative">
  <h1 class="font-bold text-4xl">Todo: <%= @todo.title %></h1>
  <p>
    <%= @todo.description %>
  </p>
</div>

<%= link_to "Back to categories", categories_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 text-slate-900 inline-block font-medium" %>