
<%= link_to todo, class: "bg-neutral-primary-soft mr-2 block max-w-sm p-6 border border-default rounded-md shadow-xs transition-transform duration-300 hover:scale-105 cursor-pointer" do %>
    <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8 line-clamp-2">
      <%= todo.title %>
    </h5>
    <p class="text-body line-clamp-2">
      <%= todo.description %>
    </p>
<% end %>
